body {
    background-image: url(../img/pngegg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h2 {
    color: #900C3F;
}

tr, th {
    text-align: center;
}

.principal {
    
    flex: 1;
}

#titulo-listado {
    color: #FF5733;
}