body {
    background-image: url(../img/gradient-ge5b988f8d_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

tr, th {
    text-align: center;
}

.principal {
    
    flex: 1;
}