body {
    background-image: url(../img/pngegg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h2 {
    color: #900C3F;
}

tr, th {
    text-align: center;    
}
td {
    vertical-align: center;
}

.principal {
    
    flex: 1;
}

#titulo-listado {
    color: #FF5733;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/Fabbon.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}