<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <title>
        {% block titulo %}

        {% endblock titulo %}
    </title>
</head>

<body>
    <div class="loader"></div>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-warning bg-warning">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="{% static 'img/mercadolibre.svg' %}" alt="" width="60" height="60"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/' %} active {% endif %}" aria-current="page" href="{% url 'Home' %}"> <i class="fa-solid fa-house"></i> HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/buscar-producto' %} active {% endif %}" href="{% url 'Buscar' %}"> <i class="fa-solid fa-magnifying-glass"></i> BUSCAR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/listado' %} active {% endif %}" href="{% url 'Listado' %}"> <i class="fa-solid fa-magnifying-glass"></i> LISTA BUSQUEDA</a>
                        </li>
                    </ul>
                    <span class="navbar-text">
                        <a href="https://virtual.unju.edu.ar/course/view.php?id=1090"><h2> <span class="badge bg-danger">RAIn</span></h2></a> 
                    </span>
                </div>
            </div>
        </nav>
        
    </div>

    {% block content %}

    {% endblock content %}


    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-6 d-flex align-items-center">            
            <span class="mb-3 mb-md-0 text-muted">&copy; 2022 |</span>
            <span class="mb-3 mb-md-0 text-muted">DESARROLLADO POR SEBASTIÁN JORGE FARFÁN</span>
          </div>
      
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">                        
            <li class="ms-3"><a href="mailto:sebas.654@gmail.com"> <i class="fa-solid fa-envelope"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/farfan.sebas"> <i class="fa-brands fa-facebook"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="https://github.com/sebasfarfan"> <i class="fa-brands fa-github"></i></a></li>
          </ul>
        </footer>
      </div>




    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'js/estilos.js' %}"></script>
</body>

</html>