{% extends './base.html' %}


{% block titulo %}
Buscar Producto
{% endblock titulo %}


{% block content %}
<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
        <h2>Buscar Productos Recomendados por <a href="http://www.mercadolibre.com.ar">Mercado Libre</a></h2>
    </header>

    <!-- busqueda de un solo producto -->
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <form action="/buscar-producto-ml/" method="post"> {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="txt-producto" placeholder="Ingresar Producto"
                        aria-label="Ingresar Producto" aria-describedby="button-addon2">
                    <button class="btn btn-outline-primary" type="submit" id="button-addon2"> <i class="fa-solid fa-magnifying-glass"></i> </button>
                </div>
            </form>
        </div>
    </div>

    <!-- busqueda de varios productos -->
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="pb-5">
            <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                Busqueda de hasta 15 productos
            </button>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <!-- campos de busqueda -->
                <div class="container-fluid py-5">
                    <form action="/buscar-varios-productos/" method="post"> {% csrf_token %}
                        <div class="input-group">
                            <span class="input-group-text bg-info">Producto 1</span>
                            <input type="text" aria-label="producto 1" name="producto-1" class="form-control">
                        </div>

                        <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseProducto2" aria-expanded="false" aria-controls="collapseProducto2">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                        <div class="collapse py-3" id="collapseProducto2">
                            <div class="input-group">
                                <span class="input-group-text bg-info">Producto 2</span>
                                <input type="text" aria-label="producto 2" name="producto-2" class="form-control">
                            </div>
                            <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseProducto3" aria-expanded="false"
                                aria-controls="collapseProducto3">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        <div class="collapse py-3" id="collapseProducto3">
                            <div class="input-group">
                                <span class="input-group-text bg-info">Producto 3</span>
                                <input type="text" aria-label="producto 3" name="producto-3" class="form-control">
                            </div>
                            <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseProducto4" aria-expanded="false"
                                aria-controls="collapseProducto4">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        <div class="collapse py-3" id="collapseProducto4">
                            <div class="input-group">
                                <span class="input-group-text bg-info">Producto 4</span>
                                <input type="text" aria-label="producto 4" name="producto-4" class="form-control">
                            </div>
                            <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseProducto5" aria-expanded="false"
                                aria-controls="collapseProducto5">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        <div class="collapse py-3" id="collapseProducto5">
                            <div class="input-group">
                                <span class="input-group-text bg-info">Producto 5</span>
                                <input type="text" aria-label="producto 5" name="producto-5" class="form-control">
                            </div>
                            <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseProducto6" aria-expanded="false"
                                aria-controls="collapseProducto6">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        <div class="collapse py-3" id="collapseProducto6">
                            <div class="input-group">
                                <span class="input-group-text bg-info">Producto 6</span>
                                <input type="text" aria-label="producto 6" name="producto-6" class="form-control">
                            </div>
                            <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseProducto7" aria-expanded="false"
                                aria-controls="collapseProducto7">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        <div class="collapse py-3" id="collapseProducto7">
                            <div class="input-group">
                                <span class="input-group-text bg-info">Producto 7</span>
                                <input type="text" aria-label="producto 5" name="producto-7" class="form-control">
                            </div>
                            <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseProducto8" aria-expanded="false"
                                aria-controls="collapseProducto8">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        <div class="collapse py-3" id="collapseProducto8">
                            <div class="input-group">
                                <span class="input-group-text bg-info">Producto 8</span>
                                <input type="text" aria-label="producto 8" name="producto-8" class="form-control">
                            </div>
                            <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseProducto9" aria-expanded="false"
                                aria-controls="collapseProducto9">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        <div class="collapse py-3" id="collapseProducto9">
                            <div class="input-group">
                                <span class="input-group-text bg-info">Producto 9</span>
                                <input type="text" aria-label="producto 9" name="producto-9" class="form-control">
                            </div>
                            <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseProducto10" aria-expanded="false"
                                aria-controls="collapseProducto10">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        <div class="collapse py-3" id="collapseProducto10">
                            <div class="input-group">
                                <span class="input-group-text bg-info">Producto 10</span>
                                <input type="text" aria-label="producto 10" name="producto-10" class="form-control">
                            </div>
                            <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseProducto11" aria-expanded="false"
                                aria-controls="collapseProducto11">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        <div class="collapse py-3" id="collapseProducto11">
                            <div class="input-group">
                                <span class="input-group-text bg-info">Producto 11</span>
                                <input type="text" aria-label="producto 11" name="producto-11" class="form-control">
                            </div>
                            <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseProducto12" aria-expanded="false"
                                aria-controls="collapseProducto12">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        <div class="collapse py-3" id="collapseProducto12">
                            <div class="input-group">
                                <span class="input-group-text bg-info">Producto 12</span>
                                <input type="text" aria-label="producto 12" name="producto-12" class="form-control">
                            </div>
                            <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseProducto13" aria-expanded="false"
                                aria-controls="collapseProducto13">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        <div class="collapse py-3" id="collapseProducto13">
                            <div class="input-group">
                                <span class="input-group-text bg-info">Producto 13</span>
                                <input type="text" aria-label="producto 13" name="producto-13" class="form-control">
                            </div>
                            <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseProducto14" aria-expanded="false"
                                aria-controls="collapseProducto14">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        <div class="collapse py-3" id="collapseProducto14">
                            <div class="input-group">
                                <span class="input-group-text bg-info">Producto 14</span>
                                <input type="text" aria-label="producto 14" name="producto-14" class="form-control">
                            </div>
                            <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseProducto15" aria-expanded="false"
                                aria-controls="collapseProducto15">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        <div class="collapse py-3" id="collapseProducto15">
                            <div class="input-group">
                                <span class="input-group-text bg-info">Producto 15</span>
                                <input type="text" aria-label="producto 15" name="producto-15" class="form-control">
                            </div>                            
                        </div>
                        
                        <div class="d-grid gap-2 mt-5">
                            <button type="submit" class="btn btn-primary" type="button"> <i class="fa-solid fa-magnifying-glass"></i> BUSCAR</button>                            
                          </div>

                    </form>
                </div>
            </div>
        </div>
    </div>



</div>
{% endblock content %}